{# templates/page/instructor/create_section.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}EcoIT : Créer une section{% endblock %}
{% set user =  app.user.personDetails %}
{% set instructor_details = user.instructorDetails %}

{% block body %}
    <main>
        {{ include('page/instructor/welcome.html.twig') }}

        {% if instructor_details.status == 1 %}
            {% for message in app.flashes('error_intern') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %} 

            <section class="admin_container d-flex gap-5">
                {{ include('page/instructor/nav_instructor.html.twig') }}
                
                <div class="form_global form_wysig d-flex align-items-center justify-content-center flex-column">
                    <h3 class="text-center">Créer une leçon pour la formation : {{ formation.getTitle() }}</h3>
                    <h5>De la section : {{ section.getTitle() }}</h5>

                    {% if errors is defined %}
                        <ul>
                        {% for error in errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {{ form(form) }}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}
