{# templates/page/instructor/nav_instructor.html.twig #}

<div class="admin_content admin_content_nav p-3 d-flex align-items-center justify-content-center">
    <nav>
        <ul>
            <li class="p-3"><a href="{{ path('instructor_home') }}">Vos formations</a></li>
            <li class="p-3"><a href="{{ path('instructor_create_formation') }}">Créer une formation</a></li>
            <li class="p-3"><a href="{{ path('instructor_sections') }}">Sections de formation</a></li>
            <li class="p-3"><a href="{{ path('instructor_courses') }}">Leçons</a></li>
            <li class="p-3"><a href="{{ path('instructor_quizs') }}">Quizs</a></li>
        </ul>
    </nav>
</div>